<div>
  <div class="section-header">
    <span class="section-header-title">Userbereich - Notizen</span>
    <div class="section-header-action">
      <app-accent-button
        [buttonText]="'Neue Notiz'"
        [buttonIcon]="'pi-pencil'"
      ></app-accent-button>
      <app-accent-button
        [buttonText]="'Neuer Ordner'"
        [buttonIcon]="'pi-plus'"
      ></app-accent-button>
    </div>
  </div>

  <div class="section-content-grid">
    @for (folder of noteCategories; track folder.id) {
      <app-folder-card
        [folderId]="folder.id.toString()"
        [folderLabel]="folder.label"
        [folderPrimaryLabel]="folder.primaryLabel"
        [folderPrimaryCounter]="folder.primaryCounter"
        [folderSecondaryLabel]="folder.secondaryLabel"
        [folderSecondaryCounter]="folder.secondaryCounter"
        [folderLastUpdated]="folder.lastUpdated"
      ></app-folder-card>
    }
  </div>
</div>
