<div class="trades-section">
  <div class="trades-header">
    <div class="trades-header-left">
      <h2 class="trades-title">{{ title() }}</h2>
      <p class="trades-subtitle">{{ subTitle() }}</p>
    </div>
    <div class="trades-header-right">
      <app-accent-button
        [isLarge]="false"
        [buttonIcon]="primaryButtonIcon()"
        [buttonText]="primaryButtonText()"
        (buttonClick)="primaryButtonClick.emit()"
      ></app-accent-button>
      @if (secondaryButtonText()) {
        <app-accent-button
          [isLarge]="false"
          [buttonIcon]="secondaryButtonIcon()"
          [buttonText]="secondaryButtonText()"
          (buttonClick)="secondaryButtonClick.emit()"
        ></app-accent-button>
      }
      @if (iconButtonIcon()) {
        <app-accent-button
          [isLarge]="false"
          [buttonIcon]="iconButtonIcon()"
        ></app-accent-button>
      }
    </div>
  </div>
</div>
